body
{
    font-family: 'Dongle', sans-serif;
    font-family: 'Mochiy Pop P One', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Work Sans', sans-serif;
    margin: 0;
}
#container1
{
    display: flex;
    
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;

}
.half_width
{
    width: 50%;
    margin-left: 5%;
}

.half_width img
{
    width: 80%;
}
.heading
{
    font-size: 40px;
}
#span1
{
    color: orange;
}
#link1
{
    text-decoration: none;
    background-image: linear-gradient(blue, pink);
    padding: 5px 15px;
    border-radius: 10px;
    color: white;
    font-weight: bolder;
}
#container2
{
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    background-image: url("images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;

}
.p
{
    text-align: justify;
    width: 80%;
}
#link2
{
    text-decoration: none;
    background-image: linear-gradient(orange,skyblue);
    padding: 5px 15px;
    border-radius: 10px;
    color: black;
    font-weight: bolder;
}
#container3
{
    
}
#last
{
    display: flex;
}